DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=traintickets
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_password_here

MAIL_ENABLED=true
MAIL_HOST=your_smtp_host_here
MAIL_PORT=your_smtp_port_here
MAIL_USERNAME=your_email_username_here
MAIL_PASSWORD=your_email_password_here
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_FROM=no-reply@traintickets.local
